.card {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
}

.section {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}
